@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Lobster');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    font-size: 100%; /* Entspricht somit 16px */
}

h1 { 
    font-size: 2rem; 
}

h2 { 
    font-size: 1.9rem; 
}

h3 { 
    font-size: 1.8rem; 
}
h4 { 
    font-size: 1.7rem; 
}

h5 { 
    font-size: 1.6rem; 
}

h6 { 
    font-size: 1.5rem; 
}

p { 
    font-size: 1rem; 
}

a { 
    font-size: 1.1rem; 
}